body {
    color: rgb(0, 7, 5);
    background-color:red;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-list{
    list-style-type: none:
    margin: 0;
    padding: 0;
    overflow: hidden;
    
 
}
li{
    float:left
}
li a{
display:black;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
background-color: olive;
}
.card img {
    max-width: 300px;
    max-height: 300px:
}
.card {
    border-style: solid;
    width: 300px;
    margin: 0 auto;
    background-color: slategrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li a:hover {
    background-color: slateblue;

}
footer {
    width: 100%;
    color: white;
    background-color: navy;
    padding: fixed;
}